 <footer class="page-footer">
        <div class="container">
          <div class="footer-section d-flex justify-content-between">
            <div class="footer-left">
              <div class="footer-log">
                <img src="webimages/logo/footer-logo.png" alt="">
              </div>
              <div class="footer-left-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
             
            </div>
            <div class="footer-mid">
              <div class="footer-menu">
                <div class="footer-menu-title">
                  <h4>Main Link</h4>
                  
                </div>
                <div class="footer-menu-info">
                  <ul class="footer-list">
                    <li class="footer-list-items">
                      
                      <a href="index.html" class="footer-link">Home</a>
                    </li>

                    <li class="footer-list-items">
                      
                      <a href="about.html" class="footer-link">About Us</a>
                    </li>
                    <li class="footer-list-items">
                      
                      <a href="ourgame.html" class="footer-link">Our Games</a>
                    </li>
                    <li class="footer-list-items">
                      
                      
                      <a href="contact.html" class="footer-link">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-right">
              <div class="footer-right-title">
                <h4>Contact Us</h4>
               
              </div>
              <div class="foonter-contact">
                <div>
                  <p>60 29th Street San Francisco, CA 94110 507-Union Trade Center, United States of America </p>
                  <p>+1 234 567 89 0 0 </p>
                  <p><a href="">info@example.com</a></p>
                </div>
              </div>
              <div class="footer-socail">
                <div class="socail-img">
                  <a href="#"><img src="webimages/logo/facebook.png" alt=""></a>
                  <a href="#"><img src="webimages/logo/insta.png" alt=""></a>
                  <a href="#"><img src="webimages/logo/twitter.png" alt=""></a>
                  <a href="#"><img src="webimages/logo/pintters.png" alt=""></a>
                  <a href="#"><img src="webimages/logo/linkedin.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="footer-copyright">
         <div class="container">
           <div class="footer-copy-info d-flex align-items-center justify-content-between" >
            <p>© Copyright 2022 ZillaOnline. All rights reserved</p>
            <p>Designed & Developed by <a href="https://leadconcept.com/" target="_blank">LEADconcept</a></p>
           </div>
         </div>
        </div>
      </footer>