  <header class="page-header">
      
        <div class="header content">
          <div class="container">
            <!-- Site-header -->
            <div class="site-logo">
              <div class="open-menu">
                <img src="webimages/icons/menu.svg" alt="menu icon" />
              </div>
              <a href="/" class="logo">
                <img src="webimages/logo/logo.png" alt="logo" />
              </a>
            </div>
            <!-- Site-navigation -->
            <nav class="site-navigation">
              <div class="nav-menu">
                <!-- Site-header -->
                <div class="site-logo">
                  <div class="close-menu">
                    <img
                      src="webimages/icons/close.svg"
                      alt="close icon"
                    />
                  </div>

                  <a href="/" class="logo">
                    <img src="webimages/logo/logo.png" alt="logo" />
                  </a>
                </div>
                <!-- Main-menu -->
                <ul id="main-menu">
                  <li class="nav-item">
                    <a
                      href="/"
                      class="nav-list nav-text close-menu"
                    >
                  Home
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/about" class="nav-list nav-text close-menu">
                      About Us
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/ourgame" class="nav-list nav-text close-menu">
                     Our Games
                    </a>
                  </li>

                 
                  <li class="nav-item">
                    <a href="/contact" class="nav-list nav-text close-menu">Contact Us</a>
                  </li>
                  <li class="nav-item nav-btn d-flex align-items-center">
                    <div class="login" ><img src="webimages/logo/entery.png" alt=""> <a href="/login" class="login">Login</a></div>
                   <div class=""><img src="webimages/logo/lock.png" alt=""> <a href="/registration" class="registor">Registor</a></div>
                  </li>
                  <!-- <li  class="nav-item search-icon"><a href="#"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a></li> -->
                  <!-- <li class="nav-item search-icon">
                    <div class="search-button">
                      <div ><i class="fa fa-search"></i></div>
                    
                    </div>
                  </li> -->
                </ul>
                <!-- Social links -->
                <div class="social-links">
                  <ul>
                    <li class="nav-item nav-btn">
                      <div class="login button"><img src="webimages/logo/entery.png" alt=""> <a href="#" class="login">Login</a></div>
                      <div class="signup"><img src="webimages/logo/lock.png" alt=""> <a href="#" class="registor">Registor</a></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="bg-close-menu close-menu"></div>
            </nav>
          </div>
        </div>

      </header>