<!DOCTYPE html>
<html lang="en">
  <head>
 {{>Header}}

  </head>
  <body>
    <div class="page-wrapper">
      <!-- Header start-->
     {{>navbar}}
      <!-- Header end-->
      <!-- popup start-->
      
      
      <!-- popupend -->
      <!-- Main pages start -->
    <main>
        <!-- title bar start -->
        <div class="title-bar">
          <h1>About Us</h1>
        </div>
        <!-- title bar end -->
        <!-- video section start -->
        <div class="video">
          <div class="container">
            <div class="video-section d-flex align-items-center justify-content-between">
              <div class="video-left">
                <div class="video-title">
                  <h3>What We Do</h3>
                </div>
                <div class="video-description">
                  <p color="#414141">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exitation ullamco laboris nisi ut aliquip ex ea commodo 
                    consequat. Duis aute irure dolorrehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    
                    </p>
                </div>
                <div class="video-btn">
                  <a href="#">Read More</a>
                </div>
              </div>
              <div class="video-right">
                <div class="video-tag">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://mooviejs.com/trailer/trailer.mp4" allowfullscreen type="video/mp4"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- video section end -->

        <!-- about-info start -->
        <div class="about-info">
          <div class="container">
            <div class="about-info-details d-flex align-items-center justify-content-between">
              <div class="about-left ">
                <div class="about-left-title">
                  <h3>Lorem ipsum</h3>
                </div>
                <div class="about-left-description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                    elit, sed do eiusmod tempor incididunt ut labore et 
                    dolore magna aliqua.
                    </p>
                </div>
                <div class="about-left-btn">
                  <a href="#">Read More</a>
                </div>
              </div>
              <div class="about-right">
                <div class="about-right-img">
                  <img src="images/PngItem.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- about-info end -->
     
        <!-- Update section start -->
        <div class="update">
          <div class="container">
            <div class="update-section">
              <div class="update-title">
                <h1>Stay Updated With</h1>
              </div>
              <div class="update-card">
                <ul class="update-list">
                  <li class="update-list-items">
                    <a href="#">
                      <div class="update-card-info">
                        <div class="update-card-img">
                          <img src="images/card1.png" alt="">
                        </div>
                        <div class="update-btn">
                          <a href="#">Start</a>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="update-list-items">
                    <a href="#">
                      <div class="update-card-info">
                        <div class="update-card-img">
                          <img src="images/card2.png" alt="">
                        </div>
                        <div class="update-btn">
                          <a href="#">Start</a>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="update-list-items">
                    <a href="#">
                      <div class="update-card-info">
                        <div class="update-card-img">
                          <img src="images/card11.png" alt="">
                        </div>
                        <div class="update-btn">
                          <a href="#">Start</a>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="update-list-items">
                    <a href="#">
                      <div class="update-card-info">
                        <div class="update-card-img">
                          <img src="images/card9.png" alt="">
                        </div>
                        <div class="update-btn">
                          <a href="#">Start</a>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Update section end -->
         <!-- video section start -->
         <div class="video easy">
          <div class="container">
            <div class="video-section d-flex align-items-center justify-content-between">
              <div class="video-right img-right">
                <div class="img-tag">
                  <img src="images/img.png" alt="">
                </div>
              </div>
              <div class="video-left">
                <div class="video-title">
                  <h3>What We Do</h3>
                </div>
                <div class="video-description">
                  <p color="#414141">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exitation ullamco laboris nisi ut aliquip ex ea commodo 
                    consequat. Duis aute irure dolorrehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    
                    </p>
                </div>
                <div class="video-btn">
                  <a href="#">Read More</a>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- video section end -->
    </main>
      <!-- Main page end -->
      <div class="pop">
        <div class="overlay" id="overlay-id">
          <div class="popup">
            <div class="close-popup"><img src="webimages/logo/close-btn.png" alt=""></div>
            <div class="pop-body">
              <div class="form-title">
                <img src="webimages/logo/door-key.png" alt="">
                <h3>Sign In</h3>
              </div>
              <form >
                <div class="input-feild"><img src="webimages/logo/user.png" alt=""> <input type="text" name="" id="" placeholder="Username" ></div>
                <div class="input-feild"><img src="webimages/logo/lock-in.png" alt=""> <input type="text" name="" id="" placeholder="Password"></div>
              </form>
              <div class="form-btn">
                <a href="#"><img src="webimages/logo/signIn-btn.png" alt=""></a>
              </div>
            
            </div>
          </div>
          <div class="account-link">
            <a href="#" class="signup login-acc">Don't Have an Account? <span>SignUP</span> </a>
          </div>
        </div>
        <div class="SignUP">
          <div class="popup">
            <div class="close-popup"><img src="webimages/logo/close-btn.png" alt=""></div>
            <div class="pop-body">
              <div class="form-title">
                <img src="webimages/logo/door-key.png" alt="">
                <h3>Sign Up</h3>
              </div>
              <form >
                <div class="input-feild"><img src="webimages/logo/user.png" alt=""> <input type="text" name="" id="" placeholder="Name" ></div>
                <div class="input-feild"><img src="images/email.png" alt=""> <input type="text" name="" id="" placeholder="Email"></div>
                <div class="input-feild"><img src="images/mobile-phone.png" alt=""> <input type="text" name="" id="" placeholder="Phone" ></div>
                <div class="input-feild"><img src="images/icon-ios7-eye-512.png" alt=""> <input type="text" name="" id="" placeholder="Password"></div>
                <div class="input-feild"><img src="images/icon-ios7-eye-512.png" alt=""> <input type="text" name="" id="" placeholder="Confirm Password" ></div>
              
              </form>
              <div class="form-btn">
                <a href="#"><img src="webimages/logo/signIn-btn.png" alt=""></a>
              </div>
             
            </div>
          </div>
          <div class="account-link">
            <a href="#" class="button signup-acc">already Have an Account? <span>Login</span> </a>
          </div>
        </div>
      </div>
      <!-- Footer start -->
     {{>footer}}
      <!-- Footer end -->
    </div>
     <!-- js files -->
   
 
    <!-- jQuery files -->
    <script>
      // Вызов модального окна
 
 function scrollToTop() {
            $(window).scrollTop(0);
        }

 
 


 // Закрытие окна на крестик

 // Закрытие окна на поле

 
    </script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <!-- <script src="jquery.min.js"></script> -->
    <!-- <script src="owlcarousel/owl.carousel.min.js"></script> -->
  </body>
</html>
