<!DOCTYPE html>
<html lang="en">
  <head>
 {{>Header}}
 
  </head>
  <body>
    <div class="page-wrapper">
      <!-- Header start-->
     {{>navbar}}
      <!-- Header end-->
      <!-- popup start-->
      
      
      <!-- popupend -->
      <!-- Main pages start -->
    <main>
    
        <!-- title bar start -->
        <div class="title-bar">
          <h1>Our Games</h1>
        </div>
        <!-- title bar end -->
     
        <!-- services start -->
        <div class="services game">
          <div class="container">
            <div class="services-section">
              
              <div class="services-info game-info">
                <div class="services-btn">
                  <ul class="btn-list ">
                    <li class="btn-list-item" onclick="handleClick()">
                      <a >SlotsZilla</a>
                    </li>
                    <li class="btn-list-item">
                      <a >FishZilla</a>
                    </li>
                    <li class="btn-list-item">
                      <a >keno</a>
                    </li>
                    <li class="btn-list-item">
                      <a >blackjack</a>
                    </li>
                    <li class="btn-list-item">
                      <a >Rulette</a>
                    </li>
                    <li class="btn-list-item">
                      <a >Specialty</a>
                    </li>
                  </ul>
                </div>
                <div class="services-cards active-content">
                  <ul class="card-list">
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card8.png" alt="">
                          </div>
                         
                        </div>
                      </a>
                      </li>
                      
                      <li class="card-list-items">
                       <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card3.png" alt="">
                          </div>
                         
                        </div>
                       </a>
                      </li>
                      <li class="card-list-items">
                       <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card2.png" alt="">
                          </div>
                         
                        </div>
                       </a>
                      </li>
                   
                      <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card5.png" alt="">
                          </div>
                         
                        </div>
                      </a>
                      </li>
                    <li class="card-list-items">
                     <a href="#"> <div class="card-list-info d-flex align-items-center justify-content-center flex-column d-flex align-items-center justify-content-center flex-column">
                      <div class="card-img1">
                        <img src="images/card1.png" alt="">
                      </div>
                      
                    </div></a>
                    </li>
                    <li class="card-list-items">
                      <a href=""><div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card2.png" alt="">
                        </div>
                        
                      </div></a>
                    </li>
                    <li class="card-list-items">
                      <a href="#"><div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card3.png" alt="">
                        </div>
                        
                      </div></a>
                    </li>
                    <li class="card-list-items">
                      <a href="#"><div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card4.png" alt="">
                        </div>
                        
                      </div></a>
                    </li>
                    <li class="card-list-items">
                     <a href="#"> <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                      <div class="card-img1">
                        <img src="images/card5.png" alt="">
                      </div>
                      
                    </div></a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1 card6">
                            <img src="images/card6.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                    <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card7.png" alt="">
                        </div>
                        
                      </div>
                    </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card8.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                      <a href=""><div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card9.png" alt="">
                        </div>
                        
                      </div></a>
                    </li>
                    <li class="card-list-items">
                     <a href=""> <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                      <div class="card-img1">
                        <img src="images/card10.png" alt="">
                      </div>
                      
                    </div></a>
                    </li>
                    <li class="card-list-items">
                   <a href="">   <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                    <div class="card-img1">
                      <img src="images/card11.png" alt="">
                    </div>
                    
                  </div></a>
                    </li>
                    <li class="card-list-items">
                    <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1 card6">
                          <img src="images/card12.png" alt="">
                        </div>
                        
                      </div>
                    </a>
                    </li>
                  </ul>
                </div>
                <div class="services-cards">
                  <ul class="card-list">
                    <li class="card-list-items">
                    <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card8.png" alt="">
                        </div>
                        
                      </div>
                    </a>
                    </li>
                    
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card3.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card2.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                 
                    <li class="card-list-items">
                    <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card5.png" alt="">
                        </div>
                        
                      </div>
                    </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card8.png" alt="">
                          </div>
                         
                        </div>
                      </a>
                      </li>
                      
                      <li class="card-list-items">
                       <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card3.png" alt="">
                          </div>
                         
                        </div>
                       </a>
                      </li>
                      <li class="card-list-items">
                       <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card2.png" alt="">
                          </div>
                         
                        </div>
                       </a>
                      </li>
                   
                      <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card5.png" alt="">
                          </div>
                         
                        </div>
                      </a>
                      </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card4.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1 card6">
                            <img src="images/card6.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                    <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card7.png" alt="">
                        </div>
                        
                      </div>
                    </a>
                    </li>
                   
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card1.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card9.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                    <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card10.png" alt="">
                        </div>
                        
                      </div>
                    </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card11.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1 card6">
                            <img src="images/card12.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="services-cards">
                  <ul class="card-list">
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card8.png" alt="">
                          </div>
                         
                        </div>
                      </a>
                      </li>
                      
                      <li class="card-list-items">
                       <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card3.png" alt="">
                          </div>
                         
                        </div>
                       </a>
                      </li>
                      <li class="card-list-items">
                       <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card2.png" alt="">
                          </div>
                         
                        </div>
                       </a>
                      </li>
                   
                      <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card5.png" alt="">
                          </div>
                         
                        </div>
                      </a>
                      </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card1.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card2.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card3.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card4.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                    <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card5.png" alt="">
                        </div>
                        
                      </div>
                    </a>
                    </li>
                    <li class="card-list-items">
                   <a href="">
                    <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                      <div class="card-img1 card6">
                        <img src="images/card6.png" alt="">
                      </div>
                      
                    </div>
                   </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card7.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card8.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card9.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                   <a href="">
                    <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                      <div class="card-img1">
                        <img src="images/card10.png" alt="">
                      </div>
                      
                    </div>
                   </a>
                    </li>
                    <li class="card-list-items">
                    <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card11.png" alt="">
                        </div>
                        
                      </div>
                    </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1 card6">
                            <img src="images/card12.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="services-cards">
                  <ul class="card-list">
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card8.png" alt="">
                          </div>
                         
                        </div>
                      </a>
                      </li>
                      
                      <li class="card-list-items">
                       <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card3.png" alt="">
                          </div>
                         
                        </div>
                       </a>
                      </li>
                      <li class="card-list-items">
                       <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card2.png" alt="">
                          </div>
                         
                        </div>
                       </a>
                      </li>
                   
                      <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card5.png" alt="">
                          </div>
                         
                        </div>
                      </a>
                      </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card8.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card3.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card2.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                 
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card5.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                    <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card4.png" alt="">
                        </div>
                        
                      </div>
                    </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1 card6">
                            <img src="images/card6.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card7.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                   
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card1.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                   <a href="">
                    <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                      <div class="card-img1">
                        <img src="images/card9.png" alt="">
                      </div>
                      
                    </div>
                   </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card10.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card11.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1 card6">
                          <img src="images/card12.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                  </ul>
                </div>
                <div class="services-cards">
                  <ul class="card-list">
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card1.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card2.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card3.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card4.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card5.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1 card6">
                            <img src="images/card6.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card7.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card8.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card9.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card10.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card11.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1 card6">
                            <img src="images/card12.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="services-cards">
                  <ul class="card-list">
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card1.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card2.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card3.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1">
                            <img src="images/card4.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card5.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1 card6">
                          <img src="images/card6.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card7.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                    <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card8.png" alt="">
                        </div>
                        
                      </div>
                    </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card9.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card10.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                     <a href="">
                      <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                        <div class="card-img1">
                          <img src="images/card11.png" alt="">
                        </div>
                        
                      </div>
                     </a>
                    </li>
                    <li class="card-list-items">
                      <a href="">
                        <div class="card-list-info d-flex align-items-center justify-content-center flex-column">
                          <div class="card-img1 card6">
                            <img src="images/card12.png" alt="">
                          </div>
                          
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
             <!-- pagination start -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item page-left">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item page-right">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- pagination end -->
          </div>
        </div>
        <!-- services end -->
       
    </main>
      <!-- Main page end -->
      <div class="pop">
        <div class="overlay" id="overlay-id">
          <div class="popup">
            <div class="close-popup"><img src="webimages/logo/close-btn.png" alt=""></div>
            <div class="pop-body">
              <div class="form-title">
                <img src="webimages/logo/door-key.png" alt="">
                <h3>Sign In</h3>
              </div>
              <form >
                <div class="input-feild"><img src="webimages/logo/user.png" alt=""> <input type="text" name="" id="" placeholder="Username" ></div>
                <div class="input-feild"><img src="webimages/logo/lock-in.png" alt=""> <input type="text" name="" id="" placeholder="Password"></div>
              </form>
              <div class="form-btn">
                <a href="#"><img src="webimages/logo/signIn-btn.png" alt=""></a>
              </div>
            
            </div>
          </div>
          <div class="account-link">
            <a href="#" class="signup login-acc">Don't Have an Account? <span>SignUP</span> </a>
          </div>
        </div>
        <div class="SignUP">
          <div class="popup">
            <div class="close-popup"><img src="webimages/logo/close-btn.png" alt=""></div>
            <div class="pop-body">
              <div class="form-title">
                <img src="webimages/logo/door-key.png" alt="">
                <h3>Sign Up</h3>
              </div>
              <form >
                <div class="input-feild"><img src="webimages/logo/user.png" alt=""> <input type="text" name="" id="" placeholder="Name" ></div>
                <div class="input-feild"><img src="images/email.png" alt=""> <input type="text" name="" id="" placeholder="Email"></div>
                <div class="input-feild"><img src="images/mobile-phone.png" alt=""> <input type="text" name="" id="" placeholder="Phone" ></div>
                <div class="input-feild"><img src="images/icon-ios7-eye-512.png" alt=""> <input type="text" name="" id="" placeholder="Password"></div>
                <div class="input-feild"><img src="images/icon-ios7-eye-512.png" alt=""> <input type="text" name="" id="" placeholder="Confirm Password" ></div>
              
              </form>
              <div class="form-btn">
                <a href="#"><img src="webimages/logo/signIn-btn.png" alt=""></a>
              </div>
             
            </div>
          </div>
          <div class="account-link">
            <a href="#" class="button signup-acc">already Have an Account? <span>Login</span> </a>
          </div>
        </div>
      </div>
      <!-- Footer start -->
     {{>footer}}
      <!-- Footer end -->
    </div>
     <!-- js files -->
   
 
    <!-- jQuery files -->
    <script>
      // Вызов модального окна
 
 function scrollToTop() {
            $(window).scrollTop(0);
        }

 
 


 // Закрытие окна на крестик

 // Закрытие окна на поле

 
    </script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <!-- <script src="jquery.min.js"></script> -->
    <!-- <script src="owlcarousel/owl.carousel.min.js"></script> -->
  </body>
</html>
